<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>subscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="android" *ngIf="platform === 'android'" id="innerPageHolder" data-userway-font-size="10">
    <div id="massBoxIn" class="prices" data-userway-font-size="10">
      <h2 data-userway-font-size="18">{{dataPage?.title}}</h2>
      <div [innerHtml]="dataPage?.android.textBefore" style="font-size: 13px;color: #c8c8c9;text-align:center;" data-userway-font-size="13">

      </div>
      <!--<p style="font-size: 16px;color: #c8c8c9;text-align:center;margin: 5px 0px 0px;"
         data-userway-font-size="16">בכל שאלה/הבהרה לגבי מנוי באתר ניתן לפנות אלינו גם בטלפון <a
              style="color:inherit;text-decoration:underline;" href="tel:053-7006230" class="ui-link"
              data-userway-font-size="16">053-7006230</a> בין השעות 9:00 ועד 17:00</p>-->
      <div *ngFor="let product of products" class="subs"
           (click)="goto(product)"
           data-userway-font-size="10">
        <a href="#" title="title" class="ui-link" data-userway-font-size="11">
                    <span style="width: 175px;" class="subsTitle"
                          data-userway-font-size="15">{{product.title}}</span>
          {{product.text}}
          <br
                  data-userway-font-size="11">
          <div class="subsPrice" data-userway-font-size="17">
            ₪<span data-userway-font-size="35">{{product.price}}</span>
            <span class="month" data-userway-font-size="17">{{product.duration}}</span>
          </div><!--subsPrice-->
          <div class="subsBut" data-userway-font-size="11"></div>
        </a>
      </div><!--subs-->
      <!--<a href="#" title="Title" class="purcSubs">לרכישה</a>-->
      <div class="clear" data-userway-font-size="10"><!--clear--></div>
      <div [innerHtml]="dataPage?.android.textAfter" style="font-size: 13px;color: #c8c8c9;text-align:center;" data-userway-font-size="13">
      </div>
    </div><!--result-->
  </div>

  <div class="ios" *ngIf="platform === 'ios'">
    <div class="text" [innerHTML]="this.dataPage?.ios.textBefore"></div>
    <div *ngFor="let product of products, let i = index" class="subscr" tappable>
      <div tappable (click)="subscribe(product) ">
        <div class="subscr_center">
          <h2>{{product.title}}</h2>
          <p class="description">{{product.description}}</p>
        </div>
        <div class="subscr_right">{{product.price}}</div>
      </div>
    </div>
    <div class="text" [innerHTML]="this.dataPage?.ios.textAfter"></div>
    <div style="margin-bottom: 24px" class="text"><ul><li><span class="link" (click)="page(34)">מדיניות פרטיות</span> | <span class="link" (click)="page(7)">תנאי שימוש</span></li></ul></div>
  </div>

</ion-content>
<ion-footer>
  <div class="register">
    <ion-navbar class="footerMenu">
      <ion-title>register-profile</ion-title>
    </ion-navbar>
  </div>
</ion-footer>