<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>edit-profile</ion-title>
    </ion-navbar>
    <!--<ion-title><button></button><ion-icon name="arrow-round-back"></ion-icon></button></ion-title>-->
</ion-header>


<ion-content padding>
    <div class="faq">
        <div *ngFor="let q of page">
            <h2 class="headline">{{q?.name}}</h2>
            <div class="question" *ngFor="let qa of q?.faq, let i = index" padding-top padding-bottom>
                <div>
                    {{qa.q }}
                </div>
                <div class="answer" [innerHTML]="qa.a">
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>

    <ion-navbar class="footerMenu">
        <ion-title></ion-title>
    </ion-navbar>

</ion-footer>
